* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: "face";
  src: url("../../assets/fonts/arabia/Arabia.ttf");
}
video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header-logo img {
  border-radius: 150px;
}
.header-box {
  height: 450px;
  width: 100%;
}
video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header {
  display: grid;
  grid-template-columns: auto;
  width: 100%;
  background-color: transparent;
  overflow: hidden;
  position: absolute;
  width: 100%;
  font-family: "face";
  top: 0;
}
.header-top {
  display: grid;
  grid-template-columns: 25% 75%;
  justify-content: flex-start;
  align-items: center;
  column-gap: 15px;
  width: 100%;
  margin: 0;
}

@media screen and (max-width: 600px) {
  .header-box {
    max-width: 600px;
  }

  .header-top-seperator {
    display: none;
  }
  .header-bottom > * {
    display: none;
  }
  .header-top {
    grid-template-columns: auto;
    justify-content: center;
  }
  .header-top-logo {
    margin-left: auto;
    margin-left: auto;
    display: none;
  }
  .header-top-menuu {
    text-align: right;
    margin-right: 0;
  }
}
.header-top-logo {
  font-family: "verdana";
  font-size: 3rem;
}
.header-top-logo a:link,
.header-top-logo a:visited {
  text-decoration: none;
  color: #d3a50a;
}

.header-top-seperator {
  color: white;
  font-size: 2px;
  max-width: 100%;
  max-width: 800px;
}
.header-bottom {
  display: flex;
  justify-content: flex-end;
  color: white;
  align-items: top;
  column-gap: 30px;
  margin-top: 0;
  padding-bottom: 20px;
  padding-top: auto;
  padding-right: 20px;
  border-bottom: 1px solid gray;
  z-index: 1;
}
.header-bottom-phone {
  margin-right: 100px;
}

.search-input {
  background-color: #f2f2f2;
}

.search-link {
  text-decoration: none;
  color: white;
  font-weight: bold;
  margin-right: 10px;
}
.header-logo {
  max-width: 100px;
}
.searchsec {
  display: flex;
}
.header-top-navbar {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
@media screen and (max-width: 800px) {
  .header-top-seperator {
    display: none;
  }
}
